:root {
	--red:#d0112b;
	--dark-text:white;
	--light-text:black;
}


p {
	margin-bottom: 1rem;
	line-height:1.5;
}

a {
	color:var(--red);
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Futura',sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

h6 {font-size: 1rem;}

p,a, small {
	font-family:'Roboto',sans-serif;
}

a:hover {
}

small, .text_small {font-size: 0.75rem;}

.img {
		visibility: visible;
		padding: 0px;
		border: medium none;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}
