
    .menu-icon{
        padding-top:1rem;
        width:58px;
        text-align:center;
    }
	.menu-icon .wrapper {
		cursor:pointer;
	}
	.menu-icon-label {
		font-family:helvetica;
		font-size:1rem;
		font-weight:bold;
		height:20px;
		margin-top:0.8rem;
		line-height:20px;
		overflow:hidden;
	}
	.menu-icon span {
		position:relative;
		display:block;
		height:0.2rem;
		margin-bottom:0.4rem;
		width:100%;
		transition:transform 0.3s ease-in-out;
	}
	
	.menu-icon .open span:first-child {
		transform:translateY(0.3rem) rotate(30deg);
	}
	.menu-icon .open span:nth-child(2) {
		transform:translateY(-0.3rem) rotate(-30deg);
	}
	.menu-icon .menu-icon-label > div {
		transition: transform 0.3s ease-in-out;
		text-transform:uppercase;
		text-align:center;
	}
	.menu-icon .open .menu-icon-label > div {
		transform:translateY(-100%);
	}